body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:49px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:49px;
}
#u8367 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:35px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:751px;
  width:1295px;
  height:35px;
  font-size:12px;
}
#u8369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1291px;
  word-wrap:break-word;
}
#u8370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8370 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:7px;
  width:148px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u8371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u8372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u8372 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:5px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u8373 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u8374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u8374 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u8375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u8376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u8376 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u8377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u8378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:556px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8378 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:170px;
  width:1070px;
  height:556px;
}
#u8379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:270px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8380 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:110px;
  width:1070px;
  height:50px;
}
#u8381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8382 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:128px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u8383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8384 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:123px;
  width:100px;
  height:25px;
}
#u8384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8385 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:123px;
  width:100px;
  height:25px;
}
#u8386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u8387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8387 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:128px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u8388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8389 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:171px;
  width:1074px;
  height:345px;
}
#u8390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8392 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:40px;
}
#u8393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8394 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:40px;
}
#u8395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8396 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:40px;
}
#u8397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u8398 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:40px;
}
#u8399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u8400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u8400 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:320px;
  height:40px;
}
#u8401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u8402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:150px;
  height:100px;
}
#u8403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8404 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:40px;
  width:150px;
  height:100px;
}
#u8405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8406 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:40px;
  width:150px;
  height:100px;
}
#u8407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8408 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:40px;
  width:150px;
  height:100px;
  color:#1E1E1E;
}
#u8409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8410 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:40px;
  width:150px;
  height:100px;
}
#u8411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u8412 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:40px;
  width:320px;
  height:100px;
}
#u8413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:150px;
  height:100px;
}
#u8415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8416 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:140px;
  width:150px;
  height:100px;
}
#u8417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8418 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:140px;
  width:150px;
  height:100px;
}
#u8419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8420 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:140px;
  width:150px;
  height:100px;
}
#u8421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8422 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:140px;
  width:150px;
  height:100px;
}
#u8423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u8424 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:140px;
  width:320px;
  height:100px;
}
#u8425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:150px;
  height:100px;
}
#u8427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8428 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:240px;
  width:150px;
  height:100px;
}
#u8429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8430 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:240px;
  width:150px;
  height:100px;
}
#u8431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8432 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:240px;
  width:150px;
  height:100px;
}
#u8433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u8434 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:240px;
  width:150px;
  height:100px;
}
#u8435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u8436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u8436 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:240px;
  width:320px;
  height:100px;
}
#u8437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8438 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:246px;
  width:40px;
  height:40px;
}
#u8439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8440 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:341px;
  width:40px;
  height:40px;
}
#u8441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8442 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:120px;
  width:150px;
  height:30px;
}
#u8443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:675px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:204px;
  height:675px;
  color:#FFFFFF;
}
#u8445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8446 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:873px;
  width:825px;
  height:95px;
}
#u8447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8448 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u8449 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:30px;
}
#u8450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u8451 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:300px;
  height:30px;
}
#u8452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u8453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u8453 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:300px;
  height:30px;
}
#u8454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u8455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u8455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:60px;
}
#u8456 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  word-wrap:break-word;
}
#u8457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u8457 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:100px;
  height:60px;
}
#u8458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u8459 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:30px;
  width:300px;
  height:60px;
  line-height:28px;
}
#u8460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u8461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u8461 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:30px;
  width:300px;
  height:60px;
}
#u8462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u8463 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:833px;
  width:820px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u8464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:816px;
  word-wrap:break-word;
}
#u8465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8465 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:833px;
  width:350px;
  height:170px;
}
#u8466 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:330px;
  word-wrap:break-word;
}
#u8467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:424px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:487px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u8483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:361px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u8484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u8485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u8485 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:443px;
  width:40px;
  height:40px;
}
#u8486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
