body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:49px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:49px;
}
#u22909 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:35px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u22910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:859px;
  width:1296px;
  height:35px;
  font-size:12px;
}
#u22911 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1292px;
  word-wrap:break-word;
}
#u22912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u22912 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:7px;
  width:148px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u22913 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u22914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u22914 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:5px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u22915 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u22916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u22916 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u22917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u22918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u22918 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u22919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u22920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u22920 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:49px;
  width:1092px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u22921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1088px;
  word-wrap:break-word;
}
#u22922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22922 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:162px;
  width:1071px;
  height:650px;
}
#u22923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:317px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22924 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:761px;
  width:300px;
  height:36px;
}
#u22925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u22926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u22926 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:110px;
  width:120px;
  height:40px;
  font-size:15px;
}
#u22927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u22928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u22928 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:110px;
  width:120px;
  height:40px;
  font-size:15px;
}
#u22929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u22930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22930 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:176px;
  width:411px;
  height:150px;
}
#u22931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u22932 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:233px;
  width:121px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u22933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u22934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u22934 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:201px;
  width:100px;
  height:100px;
}
#u22935 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u22936 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:235px;
  width:93px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u22937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u22938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22938 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:176px;
  width:411px;
  height:150px;
}
#u22939 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u22940 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:233px;
  width:151px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u22941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u22942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u22942 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:201px;
  width:100px;
  height:100px;
}
#u22943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u22944 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:235px;
  width:77px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u22945 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u22946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#1E1E1E;
}
#u22946 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:61px;
  width:143px;
  height:16px;
  font-size:13px;
  color:#1E1E1E;
}
#u22947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u22948 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:350px;
  width:934px;
  height:191px;
}
#u22949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u22949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u22950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u22951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
}
#u22951 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:222px;
  height:36px;
}
#u22952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u22953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u22953 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:141px;
  height:36px;
}
#u22954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u22955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u22955 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:0px;
  width:101px;
  height:36px;
}
#u22956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u22957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u22957 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:141px;
  height:36px;
}
#u22958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u22959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
}
#u22959 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:236px;
  height:36px;
}
#u22960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u22961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u22961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:88px;
  height:50px;
}
#u22962 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u22963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u22963 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:36px;
  width:222px;
  height:50px;
}
#u22964 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u22965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u22965 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:36px;
  width:141px;
  height:50px;
}
#u22966 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u22967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u22967 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:36px;
  width:101px;
  height:50px;
}
#u22968 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u22969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u22969 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:36px;
  width:141px;
  height:50px;
}
#u22970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u22971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u22971 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:36px;
  width:236px;
  height:50px;
}
#u22972 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u22973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u22973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:88px;
  height:50px;
}
#u22974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u22975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u22975 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:86px;
  width:222px;
  height:50px;
}
#u22976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u22977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u22977 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:86px;
  width:141px;
  height:50px;
}
#u22978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u22979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u22979 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:86px;
  width:101px;
  height:50px;
}
#u22980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u22981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u22981 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:86px;
  width:141px;
  height:50px;
}
#u22982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u22983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u22983 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:86px;
  width:236px;
  height:50px;
}
#u22984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u22985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u22985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:88px;
  height:50px;
}
#u22986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u22987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u22987 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:136px;
  width:222px;
  height:50px;
}
#u22988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u22989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u22989 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:136px;
  width:141px;
  height:50px;
}
#u22990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u22991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u22991 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:136px;
  width:101px;
  height:50px;
}
#u22992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u22993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u22993 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:136px;
  width:141px;
  height:50px;
}
#u22994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u22995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u22995 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:136px;
  width:236px;
  height:50px;
}
#u22996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u22997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:762px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u22997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:204px;
  height:762px;
  color:#FFFFFF;
}
#u22998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:373px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u22999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23000 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23005_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23007_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
