body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:49px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:49px;
}
#u7754 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:35px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:979px;
  width:1295px;
  height:35px;
  font-size:12px;
}
#u7756 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1291px;
  word-wrap:break-word;
}
#u7757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7757 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:7px;
  width:148px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u7759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u7759 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:5px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u7760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u7761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u7761 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u7762 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u7763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u7763 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u7764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u7765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1087px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u7765 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:49px;
  width:1087px;
  height:39px;
  font-size:14px;
  text-align:left;
}
#u7766 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1083px;
  word-wrap:break-word;
}
#u7767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:841px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7767 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:110px;
  width:1070px;
  height:841px;
}
#u7768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:412px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7769 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:125px;
  width:336px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u7771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:204px;
  height:900px;
  color:#FFFFFF;
}
#u7772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:442px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7773 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:418px;
  width:5px;
  height:30px;
}
#u7774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7775 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:422px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:2px;
}
#u7777 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:393px;
  width:1006px;
  height:1px;
}
#u7778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7779 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:750px;
  width:71px;
  height:16px;
}
#u7780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7781 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:750px;
  width:71px;
  height:16px;
}
#u7782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7783 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:743px;
  width:214px;
  height:30px;
}
#u7784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7785 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:745px;
  width:199px;
  height:25px;
}
#u7785_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7786 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:743px;
  width:214px;
  height:30px;
}
#u7787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7788 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:745px;
  width:199px;
  height:25px;
}
#u7788_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7789 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:670px;
  width:5px;
  height:30px;
}
#u7790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7791 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:674px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:151px;
}
#u7793 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:474px;
  width:450px;
  height:150px;
  font-size:35px;
}
#u7794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:446px;
  word-wrap:break-word;
}
#u7795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7796 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:270px;
  width:140px;
  height:100px;
  font-size:18px;
}
#u7797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7798 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:280px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7800 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:333px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7803 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:270px;
  width:140px;
  height:100px;
  font-size:18px;
}
#u7804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7805 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:280px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u7807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7807 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:333px;
  width:59px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u7809 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:474px;
  width:200px;
  height:150px;
}
#u7810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7811 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:205px;
  width:5px;
  height:30px;
}
#u7812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7813 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:209px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:424px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7822 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:487px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:361px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u7832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u7833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7833 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:790px;
  width:71px;
  height:16px;
}
#u7834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7835 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:790px;
  width:71px;
  height:16px;
}
#u7836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7837 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:783px;
  width:214px;
  height:30px;
}
#u7838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7839 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:785px;
  width:199px;
  height:25px;
}
#u7839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7840 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:783px;
  width:214px;
  height:30px;
}
#u7841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7842 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:785px;
  width:199px;
  height:25px;
}
#u7842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7843 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:831px;
  width:71px;
  height:16px;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:831px;
  width:71px;
  height:16px;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:824px;
  width:214px;
  height:30px;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:826px;
  width:199px;
  height:25px;
}
#u7849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:824px;
  width:214px;
  height:30px;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:826px;
  width:199px;
  height:25px;
}
#u7852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
