body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1324px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:49px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:49px;
}
#u23387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:35px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:820px;
  width:1324px;
  height:35px;
  font-size:12px;
}
#u23389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1320px;
  word-wrap:break-word;
}
#u23390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u23390 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:7px;
  width:148px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u23391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u23392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u23392 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:5px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u23393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u23394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u23394 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u23395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u23396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u23396 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u23397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u23398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u23398 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:51px;
  width:1120px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u23399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1116px;
  word-wrap:break-word;
}
#u23400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#1E1E1E;
}
#u23400 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:63px;
  width:220px;
  height:16px;
  font-size:13px;
  color:#1E1E1E;
}
#u23401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u23402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:763px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:204px;
  height:763px;
  color:#FFFFFF;
}
#u23403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:374px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:558px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23404 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:200px;
  width:1100px;
  height:558px;
}
#u23405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:271px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23406 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:110px;
  width:1099px;
  height:80px;
}
#u23407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23408 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:123px;
  width:100px;
  height:25px;
}
#u23409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u23410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23410 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:160px;
  width:80px;
  height:30px;
}
#u23411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u23412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23412 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:128px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23414 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:120px;
  width:113px;
  height:30px;
}
#u23414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23414_input:disabled {
  color:grayText;
}
#u23415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23415 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:129px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u23416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u23417 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:120px;
  width:113px;
  height:30px;
}
#u23417_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23417_input:disabled {
  color:grayText;
}
#u23418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u23418 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:129px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u23419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u23420 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:120px;
  width:113px;
  height:30px;
}
#u23420_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u23420_input:disabled {
  color:grayText;
}
#u23421 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:200px;
  width:1105px;
  height:445px;
}
#u23422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u23422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u23423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  word-wrap:break-word;
}
#u23424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:40px;
}
#u23424 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:0px;
  width:205px;
  height:40px;
}
#u23425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:201px;
  word-wrap:break-word;
}
#u23426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:40px;
}
#u23426 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:127px;
  height:40px;
}
#u23427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u23428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u23428 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:98px;
  height:40px;
}
#u23429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u23430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
}
#u23430 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:0px;
  width:156px;
  height:40px;
}
#u23431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:152px;
  word-wrap:break-word;
}
#u23432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
}
#u23432 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:0px;
  width:107px;
  height:40px;
}
#u23433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u23434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
}
#u23434 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:0px;
  width:88px;
  height:40px;
}
#u23435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u23436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:40px;
}
#u23436 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:0px;
  width:78px;
  height:40px;
}
#u23437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:74px;
  word-wrap:break-word;
}
#u23438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
}
#u23438 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:0px;
  width:103px;
  height:40px;
}
#u23439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:99px;
  word-wrap:break-word;
}
#u23440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u23440 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:80px;
  height:40px;
}
#u23441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
#u23442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:100px;
}
#u23442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:58px;
  height:100px;
}
#u23443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u23444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:100px;
}
#u23444 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:40px;
  width:205px;
  height:100px;
}
#u23445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:100px;
}
#u23446 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:40px;
  width:127px;
  height:100px;
}
#u23447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:123px;
  word-wrap:break-word;
}
#u23448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:100px;
}
#u23448 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:40px;
  width:98px;
  height:100px;
}
#u23449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:94px;
  word-wrap:break-word;
}
#u23450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:100px;
}
#u23450 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:40px;
  width:156px;
  height:100px;
  font-size:12px;
}
#u23451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:100px;
}
#u23452 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:40px;
  width:107px;
  height:100px;
  font-size:12px;
}
#u23453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:100px;
}
#u23454 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:40px;
  width:88px;
  height:100px;
  font-size:12px;
  color:#FF0000;
}
#u23455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:84px;
  word-wrap:break-word;
}
#u23456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:100px;
}
#u23456 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:40px;
  width:78px;
  height:100px;
  font-size:12px;
  color:#FF0000;
}
#u23457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:74px;
  word-wrap:break-word;
}
#u23458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:100px;
}
#u23458 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:40px;
  width:103px;
  height:100px;
}
#u23459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:100px;
}
#u23460 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:40px;
  width:80px;
  height:100px;
}
#u23461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:100px;
}
#u23462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:58px;
  height:100px;
}
#u23463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u23464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:100px;
}
#u23464 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:140px;
  width:205px;
  height:100px;
}
#u23465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:100px;
}
#u23466 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:140px;
  width:127px;
  height:100px;
}
#u23467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:123px;
  word-wrap:break-word;
}
#u23468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:100px;
}
#u23468 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:140px;
  width:98px;
  height:100px;
}
#u23469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:94px;
  word-wrap:break-word;
}
#u23470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:100px;
}
#u23470 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:140px;
  width:156px;
  height:100px;
  font-size:12px;
}
#u23471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:100px;
}
#u23472 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:140px;
  width:107px;
  height:100px;
  font-size:12px;
}
#u23473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:100px;
}
#u23474 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:140px;
  width:88px;
  height:100px;
  font-size:12px;
  color:#FF0000;
}
#u23475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:84px;
  word-wrap:break-word;
}
#u23476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:100px;
}
#u23476 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:140px;
  width:78px;
  height:100px;
  font-size:12px;
  color:#FF0000;
}
#u23477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:74px;
  word-wrap:break-word;
}
#u23478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:100px;
}
#u23478 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:140px;
  width:103px;
  height:100px;
}
#u23479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:100px;
}
#u23480 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:140px;
  width:80px;
  height:100px;
}
#u23481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:100px;
}
#u23482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:58px;
  height:100px;
}
#u23483 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u23484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:100px;
}
#u23484 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:240px;
  width:205px;
  height:100px;
}
#u23485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:100px;
}
#u23486 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:240px;
  width:127px;
  height:100px;
}
#u23487 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:123px;
  word-wrap:break-word;
}
#u23488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:100px;
}
#u23488 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:240px;
  width:98px;
  height:100px;
}
#u23489 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:94px;
  word-wrap:break-word;
}
#u23490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:100px;
}
#u23490 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:240px;
  width:156px;
  height:100px;
  font-size:12px;
}
#u23491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:100px;
}
#u23492 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:240px;
  width:107px;
  height:100px;
  font-size:12px;
}
#u23493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:100px;
}
#u23494 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:240px;
  width:88px;
  height:100px;
  font-size:12px;
  color:#FF9900;
}
#u23495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:84px;
  word-wrap:break-word;
}
#u23496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:100px;
}
#u23496 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:240px;
  width:78px;
  height:100px;
  font-size:12px;
  color:#FF9900;
}
#u23497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:100px;
}
#u23498 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:240px;
  width:103px;
  height:100px;
}
#u23499 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:100px;
}
#u23500 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:240px;
  width:80px;
  height:100px;
}
#u23501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:100px;
}
#u23502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:58px;
  height:100px;
}
#u23503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u23504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:100px;
}
#u23504 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:340px;
  width:205px;
  height:100px;
}
#u23505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:100px;
}
#u23506 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:340px;
  width:127px;
  height:100px;
}
#u23507 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:123px;
  word-wrap:break-word;
}
#u23508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:100px;
}
#u23508 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:340px;
  width:98px;
  height:100px;
}
#u23509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:94px;
  word-wrap:break-word;
}
#u23510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:100px;
}
#u23510 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:340px;
  width:156px;
  height:100px;
  font-size:12px;
}
#u23511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:100px;
}
#u23512 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:340px;
  width:107px;
  height:100px;
  font-size:12px;
}
#u23513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:100px;
}
#u23514 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:340px;
  width:88px;
  height:100px;
  font-size:12px;
  color:#009900;
}
#u23515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:84px;
  word-wrap:break-word;
}
#u23516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:100px;
}
#u23516 {
  border-width:0px;
  position:absolute;
  left:839px;
  top:340px;
  width:78px;
  height:100px;
  font-size:12px;
  color:#009900;
}
#u23517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:100px;
}
#u23518 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:340px;
  width:103px;
  height:100px;
}
#u23519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:100px;
}
#u23520 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:340px;
  width:80px;
  height:100px;
}
#u23521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23522 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:255px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u23523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u23524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23524 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:305px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u23525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u23526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23526 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:258px;
  width:74px;
  height:16px;
  font-size:13px;
}
#u23527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u23528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23528 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:303px;
  width:81px;
  height:16px;
  font-size:13px;
}
#u23529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23530 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:252px;
  width:71px;
  height:16px;
}
#u23531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23532 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:279px;
  width:182px;
  height:16px;
}
#u23533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u23534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23534 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:307px;
  width:120px;
  height:16px;
}
#u23535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u23536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23536 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:459px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u23537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u23538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23538 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:505px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u23539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u23540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23540 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:460px;
  width:74px;
  height:16px;
  font-size:13px;
}
#u23541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u23542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23542 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:504px;
  width:81px;
  height:16px;
  font-size:13px;
}
#u23543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23544 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:459px;
  width:71px;
  height:16px;
}
#u23545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23546 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:486px;
  width:182px;
  height:16px;
}
#u23547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u23548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23548 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:514px;
  width:120px;
  height:16px;
}
#u23549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u23550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23550 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:359px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u23551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u23552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23552 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:409px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u23553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u23554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23554 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:361px;
  width:74px;
  height:16px;
  font-size:13px;
}
#u23555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u23556_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23556 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:405px;
  width:81px;
  height:16px;
  font-size:13px;
}
#u23557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23558 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:558px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u23559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u23560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23560 {
  border-width:0px;
  position:absolute;
  left:726px;
  top:606px;
  width:130px;
  height:16px;
  font-size:13px;
}
#u23561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u23562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23562 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:560px;
  width:74px;
  height:16px;
  font-size:13px;
}
#u23563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u23564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23564 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:602px;
  width:81px;
  height:16px;
  font-size:13px;
}
#u23565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23566 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:354px;
  width:71px;
  height:16px;
}
#u23567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23568 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:381px;
  width:182px;
  height:16px;
}
#u23569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u23570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23570 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:409px;
  width:120px;
  height:16px;
}
#u23571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u23572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23572 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:553px;
  width:71px;
  height:16px;
}
#u23573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23574 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:580px;
  width:182px;
  height:16px;
}
#u23575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u23576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23576 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:608px;
  width:120px;
  height:16px;
}
#u23577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u23578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23578 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:273px;
  width:40px;
  height:40px;
}
#u23579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23580 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:372px;
  width:40px;
  height:40px;
}
#u23581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23582 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:479px;
  width:40px;
  height:40px;
}
#u23583 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23584 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:578px;
  width:40px;
  height:40px;
}
#u23585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23586 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:262px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u23587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23588 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:307px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u23589 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23590 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:364px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u23591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u23592 {
  border-width:0px;
  position:absolute;
  left:1152px;
  top:405px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u23593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u23594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:150px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:25px;
}
#u23594 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:881px;
  width:762px;
  height:150px;
  font-size:25px;
}
#u23595 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:742px;
  word-wrap:break-word;
}
#u23596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:238px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23598 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23602 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:362px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u23606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u23606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u23607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
