body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1303px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:49px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:49px;
}
#u14439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:35px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u14440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:859px;
  width:1296px;
  height:35px;
  font-size:12px;
}
#u14441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1292px;
  word-wrap:break-word;
}
#u14442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u14442 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:7px;
  width:148px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u14443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u14444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u14444 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:5px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u14445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u14446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u14446 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u14447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u14448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u14448 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u14449 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u14450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:left;
}
#u14450 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:49px;
  width:1092px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u14451 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1088px;
  word-wrap:break-word;
}
#u14452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:687px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14452 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:162px;
  width:1071px;
  height:687px;
}
#u14453 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14454 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:802px;
  width:300px;
  height:36px;
}
#u14455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u14456 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:350px;
  width:934px;
  height:441px;
}
#u14457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u14457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u14458 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u14459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
}
#u14459 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:222px;
  height:36px;
}
#u14460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u14461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u14461 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:141px;
  height:36px;
}
#u14462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u14463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u14463 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:0px;
  width:101px;
  height:36px;
}
#u14464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u14465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u14465 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:141px;
  height:36px;
}
#u14466 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u14467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
}
#u14467 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:236px;
  height:36px;
}
#u14468 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u14469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u14469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:88px;
  height:50px;
}
#u14470 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u14471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u14471 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:36px;
  width:222px;
  height:50px;
}
#u14472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u14473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14473 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:36px;
  width:141px;
  height:50px;
}
#u14474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u14475 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:36px;
  width:101px;
  height:50px;
}
#u14476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u14477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14477 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:36px;
  width:141px;
  height:50px;
}
#u14478 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u14479 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:36px;
  width:236px;
  height:50px;
}
#u14480 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u14481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u14481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:88px;
  height:50px;
}
#u14482 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u14483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u14483 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:86px;
  width:222px;
  height:50px;
}
#u14484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u14485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14485 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:86px;
  width:141px;
  height:50px;
}
#u14486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u14487 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:86px;
  width:101px;
  height:50px;
}
#u14488 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u14489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14489 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:86px;
  width:141px;
  height:50px;
}
#u14490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u14491 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:86px;
  width:236px;
  height:50px;
}
#u14492 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u14493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u14493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:88px;
  height:50px;
}
#u14494 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u14495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u14495 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:136px;
  width:222px;
  height:50px;
}
#u14496 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u14497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14497 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:136px;
  width:141px;
  height:50px;
}
#u14498 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u14499 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:136px;
  width:101px;
  height:50px;
}
#u14500 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u14501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14501 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:136px;
  width:141px;
  height:50px;
}
#u14502 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u14503 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:136px;
  width:236px;
  height:50px;
}
#u14504 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u14505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u14505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:88px;
  height:50px;
}
#u14506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u14507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u14507 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:186px;
  width:222px;
  height:50px;
}
#u14508 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u14509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14509 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:186px;
  width:141px;
  height:50px;
}
#u14510 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u14511 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:186px;
  width:101px;
  height:50px;
}
#u14512 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u14513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14513 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:186px;
  width:141px;
  height:50px;
}
#u14514 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u14515 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:186px;
  width:236px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u14516 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u14517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:88px;
  height:50px;
}
#u14518 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u14519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u14519 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:236px;
  width:222px;
  height:50px;
}
#u14520 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u14521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14521 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:236px;
  width:141px;
  height:50px;
}
#u14522 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u14523 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:236px;
  width:101px;
  height:50px;
}
#u14524 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u14525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14525 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:236px;
  width:141px;
  height:50px;
}
#u14526 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u14527 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:236px;
  width:236px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u14528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u14529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:286px;
  width:88px;
  height:50px;
}
#u14530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u14531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u14531 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:286px;
  width:222px;
  height:50px;
}
#u14532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u14533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14533 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:286px;
  width:141px;
  height:50px;
}
#u14534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u14535 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:286px;
  width:101px;
  height:50px;
}
#u14536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u14537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14537 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:286px;
  width:141px;
  height:50px;
}
#u14538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u14539 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:286px;
  width:236px;
  height:50px;
  font-size:12px;
  text-align:left;
}
#u14540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u14541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:88px;
  height:50px;
}
#u14542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u14543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u14543 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:336px;
  width:222px;
  height:50px;
}
#u14544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u14545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14545 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:336px;
  width:141px;
  height:50px;
}
#u14546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u14547 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:336px;
  width:101px;
  height:50px;
}
#u14548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u14549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14549 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:336px;
  width:141px;
  height:50px;
}
#u14550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u14551 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:336px;
  width:236px;
  height:50px;
}
#u14552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u14553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:386px;
  width:88px;
  height:50px;
}
#u14554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u14555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u14555 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:386px;
  width:222px;
  height:50px;
}
#u14556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u14557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14557 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:386px;
  width:141px;
  height:50px;
}
#u14558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u14559 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:386px;
  width:101px;
  height:50px;
}
#u14560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u14561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u14561 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:386px;
  width:141px;
  height:50px;
}
#u14562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u14563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u14563 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:386px;
  width:236px;
  height:50px;
}
#u14564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u14565 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:110px;
  width:120px;
  height:40px;
  font-size:15px;
}
#u14566 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u14567 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:110px;
  width:120px;
  height:40px;
  font-size:15px;
}
#u14568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14569 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:176px;
  width:411px;
  height:150px;
}
#u14570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u14571 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:233px;
  width:121px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u14572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u14573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u14573 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:201px;
  width:100px;
  height:100px;
}
#u14574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u14575 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:235px;
  width:93px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u14576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u14577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14577 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:176px;
  width:411px;
  height:150px;
}
#u14578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u14579 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:233px;
  width:151px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u14580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u14581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u14581 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:201px;
  width:100px;
  height:100px;
}
#u14582 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u14583 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:235px;
  width:77px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u14584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u14585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:799px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:204px;
  height:799px;
  color:#FFFFFF;
}
#u14586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:392px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:951px;
  width:825px;
  height:115px;
}
#u14588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u14588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u14589 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u14590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14590 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:100px;
  height:30px;
}
#u14591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u14592 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:0px;
  width:300px;
  height:30px;
}
#u14593 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u14594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u14594 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:300px;
  height:30px;
}
#u14595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u14596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14596 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:40px;
}
#u14597 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14598 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:100px;
  height:40px;
}
#u14599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u14600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u14600 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:30px;
  width:300px;
  height:40px;
}
#u14601 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u14602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u14602 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:30px;
  width:300px;
  height:40px;
}
#u14603 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:120px;
  height:40px;
}
#u14605 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u14606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14606 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:70px;
  width:100px;
  height:40px;
}
#u14607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u14608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u14608 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:70px;
  width:300px;
  height:40px;
}
#u14609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u14610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u14610 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:70px;
  width:300px;
  height:40px;
}
#u14611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u14612 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:911px;
  width:820px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u14613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:816px;
  word-wrap:break-word;
}
#u14614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:405px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14614 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:909px;
  width:414px;
  height:405px;
}
#u14615 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:394px;
  word-wrap:break-word;
}
#u14616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:80px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:30px;
}
#u14616 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1103px;
  width:637px;
  height:80px;
  font-size:30px;
}
#u14617 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:617px;
  word-wrap:break-word;
}
#u14618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u14620_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u14622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14622 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u14624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:424px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u14626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:487px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u14628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:299px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14629 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u14630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14631 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u14632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u14634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u14634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:361px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u14635 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
