body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:49px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:49px;
}
#u32066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1296px;
  height:35px;
  background:inherit;
  background-color:rgba(232, 232, 232, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u32067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:859px;
  width:1296px;
  height:35px;
  font-size:12px;
}
#u32068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1292px;
  word-wrap:break-word;
}
#u32069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u32069 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:7px;
  width:148px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u32070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u32071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u32071 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:5px;
  width:80px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u32072 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u32073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u32073 {
  border-width:0px;
  position:absolute;
  left:1124px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u32074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u32075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u32075 {
  border-width:0px;
  position:absolute;
  left:1204px;
  top:5px;
  width:74px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#336699;
}
#u32076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u32077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1071px;
  height:650px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32077 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:162px;
  width:1071px;
  height:650px;
}
#u32078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:317px;
  width:1067px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32079 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:761px;
  width:300px;
  height:36px;
}
#u32080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u32081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u32081 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:110px;
  width:120px;
  height:40px;
  font-size:15px;
}
#u32082 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u32083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u32083 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:110px;
  width:120px;
  height:40px;
  font-size:15px;
}
#u32084 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u32085_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32085 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:176px;
  width:411px;
  height:150px;
}
#u32086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u32087 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:233px;
  width:121px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u32088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u32089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u32089 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:201px;
  width:100px;
  height:100px;
}
#u32090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32091_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u32091 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:235px;
  width:93px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#009900;
}
#u32092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u32093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32093 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:176px;
  width:411px;
  height:150px;
}
#u32094 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:407px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u32095 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:233px;
  width:151px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u32096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u32097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u32097 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:201px;
  width:100px;
  height:100px;
}
#u32098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u32099 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:235px;
  width:77px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF9900;
}
#u32100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u32101 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:350px;
  width:934px;
  height:191px;
}
#u32102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u32102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u32103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u32104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:36px;
}
#u32104 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:0px;
  width:222px;
  height:36px;
}
#u32105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u32106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u32106 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:141px;
  height:36px;
}
#u32107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u32108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u32108 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:0px;
  width:101px;
  height:36px;
}
#u32109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u32110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:36px;
}
#u32110 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:141px;
  height:36px;
}
#u32111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u32112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:36px;
}
#u32112 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:0px;
  width:236px;
  height:36px;
}
#u32113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:232px;
  word-wrap:break-word;
}
#u32114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u32114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:88px;
  height:50px;
}
#u32115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u32116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u32116 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:36px;
  width:222px;
  height:50px;
}
#u32117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u32118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u32118 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:36px;
  width:141px;
  height:50px;
}
#u32119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u32120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u32120 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:36px;
  width:101px;
  height:50px;
}
#u32121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u32122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u32122 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:36px;
  width:141px;
  height:50px;
}
#u32123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u32124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u32124 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:36px;
  width:236px;
  height:50px;
}
#u32125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u32126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u32126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:88px;
  height:50px;
}
#u32127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u32128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u32128 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:86px;
  width:222px;
  height:50px;
}
#u32129 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u32130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u32130 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:86px;
  width:141px;
  height:50px;
}
#u32131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u32132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u32132 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:86px;
  width:101px;
  height:50px;
}
#u32133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u32134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u32134 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:86px;
  width:141px;
  height:50px;
}
#u32135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u32136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u32136 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:86px;
  width:236px;
  height:50px;
}
#u32137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u32138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u32138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:88px;
  height:50px;
}
#u32139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u32140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u32140 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:136px;
  width:222px;
  height:50px;
}
#u32141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u32142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u32142 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:136px;
  width:141px;
  height:50px;
}
#u32143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u32144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:50px;
}
#u32144 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:136px;
  width:101px;
  height:50px;
}
#u32145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u32146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u32146 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:136px;
  width:141px;
  height:50px;
}
#u32147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:137px;
  word-wrap:break-word;
}
#u32148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:50px;
}
#u32148 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:136px;
  width:236px;
  height:50px;
}
#u32149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:232px;
  word-wrap:break-word;
}
#u32150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:762px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u32150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:204px;
  height:762px;
  color:#FFFFFF;
}
#u32151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:373px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u32152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u32153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u32154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u32154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u32155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
#u32156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:60px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u32156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:204px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
}
#u32157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:200px;
  word-wrap:break-word;
}
